.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
    
  }
  
  .css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }
  table {
    border-collapse: collapse;
    
  }
  .count{
     display: flex;
     margin-top: 10px;
     
  }
  tr:nth-child(2n) {
    background: lightgrey;
  }
  tr:nth-child(2n+1) {
    background: lightblue;
  }
  button{
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin: 3px;
      font-size: 20px;
      background-color: lightcoral;
  }